<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="mt-2 ms-4 container bg-light">
    <h2><i class="fa-solid fa-tags"></i> <%= title %></h2>
    <hr />
    <%- include("../partials/errors.ejs") %>
    <form action="/genres/<%= genre.id %>/update" method="POST">
      <div class="mb-3">
        <label for="genreName" class="form-label">Name: </label>
        <input
          type="text"
          name="genreName"
          id="genreName"
          value="<%= genre.name %>"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-success mb-2">Submit</button>
    </form>
    <hr />
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/genres"> Back</a>
      </li>
    </ul>
  </body>
</html>
