<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="mt-2 ms-4 container bg-light">
    <h2><i class="fa-solid fa-book"></i> <%= title %></h2>
    <hr />

    <a href="/books/create"
      ><button type="button" class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Add Book
      </button></a
    >
    <br />
    <br />

    <div class="mb-4 d-flex align-items-end">
      <form
        class="d-flex input-group"
        action="/books"
        method="GET"
        style="max-width: 600px"
      >
        <!-- Search Input -->
        <input
          class="form-control"
          type="input"
          name="search"
          placeholder="Search for a book"
          aria-label="Search"
          value="<%= lastSearch %>"
          required
        />
        <!-- Submit Button -->
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <h6 class="ms-4"><a href="/books">Clear Search</a></h6>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Pages</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (locals.books) {%> <% books.forEach(book => { %>
        <tr>
          <td class="align-middle"><%= book.book_title %></td>
          <td class="align-middle"><%= book.author_name %></td>
          <td class="align-middle"><%= book.genre_name %></td>
          <td class="align-middle"><%= book.pages %></td>

          <td>
            <a href="/books/<%= book.book_id %>/update"
              ><button type="button" class="btn btn-warning">
                <i class="fa-solid fa-pencil"></i></button
            ></a>

            <form
              action="/books/<%= book.book_id %>/delete"
              method="POST"
              style="display: inline"
            >
              <button
                type="submit"
                class="btn btn-danger"
                onclick="return confirm('Are you sure you want to delete this book?');"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>

    <hr />

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Index</a>
      </li>
    </ul>
  </body>
</html>
