<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="mt-2 ms-4 container bg-light">
    <h2><i class="fa-solid fa-book"></i> <%= title %></h2>
    <hr />
    <%- include("../partials/errors.ejs") %>
    <form action="/books/create" method="POST" style="max-width: 600px;" >
      <div class="mb-3">
        <label for="title" class="form-label">Title: </label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          required
        />
      </div>

      <div class="mb-3">
        <label for="author" class="form-label">Author:</label>
        <select name="author_id" id="author" class="form-select" required>
          <option value="">-- Select Author --</option>
          <% authors.forEach(author => { %>
          <option value="<%= author.id %>">
            <%= author.first_name %> <%= author.last_name %>
          </option>
          <% }); %>
        </select>
      </div>

      <div class="mb-3">
        <label for="genre" class="form-label">Genre:</label>
        <select name="genre_id" id="genre" class="form-select" required>
          <option value="">-- Select Genre --</option>
          <% genres.forEach(genre => { %>
          <option value="<%= genre.id %>"><%= genre.name %></option>
          <% }); %>
        </select>
      </div>

      <div class="mb-3">
        <label for="pages" class="form-label">Pages: </label>
        <input type="number" min="2" max="99999" name="pages" id="pages" class="form-control" />
      </div>

      
      <button type="submit" class="btn btn-success mb-2">Submit</button>
    </form>
    
    <hr>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/books"> Back</a>
      </li>
    </ul>
  </body>
</html>
