<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h2><%= title %></h2>

    <%- include("../partials/errors.ejs") %>
    <form action="/authors/<%= author.id %>/update" method="POST">
      <label for="firstName">First Name: </label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        value="<%= author.first_name %>"
        required
      />
      <label for="lastName">Last Name: </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        value="<%= author.last_name %>"
        required
      />

      <button type="submit">Submit</button>
    </form>
    <a href="/authors">Back</a>
  </body>
</html>
